.contact tr {
  height: 7rem;
}

.contact th {
  width: 150px;
  text-align: right;
  padding-right: 20px;
}

.text{
  width: 480px;
}

.btn {
  text-align: center;
}

.btn input {
  background-color: #1da4e4;
  padding: 10px;
  border: none;
  color: #fff;
}

.btn input:hover {
  opacity: 0.5;
}
